@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #111827;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-md: 1rem;

  /* Social Colors */
  --color-instagram: #E4405F;
  --color-youtube: #FF0000;
  --color-linkedin: #0A66C2;

  /* Color Pallate */
  --color-primary: #3B82F6;
  /* Healthcare blue */
  --color-secondary: #22C55E;
  /* Green - vitality, healing */
  --color-accent: #F472B6;
  /* Soft pink - compassion */
  --color-bg: #F8FAFC;
  /* Light gray/white background */
  --color-text: #1E293B;
  /* Dark slate text */


}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.my-animi {
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    background-color 0.3s ease,
    color 0.3s ease-in-out;
}

.my-animi-all {
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    background-color 0.3s ease,
    color 0.3s ease-in-out;
}

.my-animi-all>* {
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    background-color 0.3s ease,
    color 0.3s ease-in-out;
}

/* Custom CSS */
.golden_button {
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  background: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a);
}