@import url('https://fonts.googleapis.com/css?family=Exo');
@import "slick-carousel/slick/slick.css";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Import the Exo font */
@font-face {
  font-family: 'Exo';
  src: url('https://fonts.googleapis.com/css?family=Exo');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Apply common styles to the body element */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: Exo, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(190, 0, 190, 0.3) rgba(0, 0, 190, 0.1);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* Scrollbar styles */
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: #c7f7ec;
}

body::-webkit-scrollbar-thumb {
  background-color: teal;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #1767cf;
}


/* Additional styles as needed */
.world-map {
  width: 100%;
  height: auto;
}
.policy-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 10%;
  padding-bottom: 10%;
}

.policy-page h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
.policy-page p>a {
  font-family: Exo;
  font-weight:700;
  text-decoration: none;
}

.policy-page p {
  font-size: 16px;
  line-height: 1.6;
}

/* Add any other styles you need */
